*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:white;
  width: 100%;
  min-height: 100vh;
  color: white;
  font-family: Tahoma, sans-serif;
  font-family: "Oswald", sans-serif;
  /* border: 2px solid red; */
  /* font-style: italic bold; */
  /* font-size: medium; */
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}