:root {
  --color-primary: rgb(5, 135, 137);
  --color-secondary: rgb(224, 63, 62);
  --color-gray-light: rgb(229, 231, 235);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  --color-black-transparent: rgb(0,0,0,.5);
  --color-primary-transparent: rgb(5, 135, 137, .8);
  --color-secondary-transparent: rgb(224, 63, 62, .8);

  --color-accept: rgb(241, 255, 38);
  --color-atenttion: rgb(0, 255, 0);
}