:root {
  --color-primary: rgb(5, 135, 137);
  --color-secondary: rgb(224, 63, 62);
  --color-gray-light: rgb(229, 231, 235);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  --color-black-transparent: rgb(0,0,0,.5);
  --color-primary-transparent: rgb(5, 135, 137, .8);
  --color-secondary-transparent: rgb(224, 63, 62, .8);

  --color-yellow: #0b0a09;
  --color-green: rgb(0, 255, 60);
  --color-blue: #2f2c79;
}