/* Tabla */
table {
border-collapse: collapse;
margin: 0;
width: 100%;
box-shadow: 0 0 5px rgba(0, 0, 0, -25);
/* border: 3px solid black; */
}

table tr {
padding: .45em;
}

thead tr {
background-color: rgb(0, 128, 128);
}

tbody tr:nth-child(even) {
background-color: rgba(0, 128, 128, .3);
}

table th, table td {
font-size: 1em;
padding: 1em;
text-align: center;
}

thead th {
color: white;
font-size: 1.15em;
}

.content-btn-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

@media (max-width: 800px) {
  .content-btn-actions {
    justify-content: end;
  }

  table thead tr {
    display: none;
  }

  table tr {
    display: block;
  }

  table th, table td {
    padding: .5em;
    text-align: right;
  }

  table td {
    text-align: right;
    display: block;
    font-size: 1em;
  }

  table td::before {
    content: attr(data-title)": ";
    float: left;
    font-weight: bold;
    color: #333;
  }

  tbody tr:nth-child(even) {
    background-color: rgba(0, 128, 128, 0.1);
  }
}

.table-wrapper {
    max-height: 490px;   /* puedes cambiar a 500px si quieres */
    overflow-y: auto;
    overflow-x: hidden;
  }


/* Opcional: mejora visual del scroll */
.table-wrapper::-webkit-scrollbar {
  width: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 128, 0.7);
  border-radius: 10px;
}

@media (max-width: 800px) {
  .table-wrapper{
      max-height: 590px;
  }
}